<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ title }}</h1>

      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="New task"
          aria-label="New task"
          aria-describedby="button-addon2"
          [(ngModel)]="newTask.content"
        />
        <div class="input-group-append">
          <button
            class="btn btn-success"
            type="button"
            id="button-addon2"
            (click)="addNewTask()"
          >
            Add task
          </button>
        </div>
      </div>

      <ul class="list-group flex-column-reverse">
        <li @fade @fadeOut *ngFor="let item of list" class="list-group-item" (click)="removeTask(item)">
          {{ item.content }}
        </li>
      </ul>
    </div>
  </div>
</div>
